In [72]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder,OneHotEncoder

In [73]:
bike_rentals = pd.read_csv('bike_rental_hour.csv')
print(bike_rentals.head())

   instant      dteday  season  yr  mnth  hr  holiday  weekday  workingday  \
0        1  2011-01-01       1   0     1   0        0        6           0
1        2  2011-01-01       1   0     1   1        0        6           0
2        3  2011-01-01       1   0     1   2        0        6           0
3        4  2011-01-01       1   0     1   3        0        6           0
4        5  2011-01-01       1   0     1   4        0        6           0

   weathersit  temp   atemp   hum  windspeed  casual  registered  cnt
0           1  0.24  0.2879  0.81        0.0       3          13   16
1           1  0.22  0.2727  0.80        0.0       8          32   40
2           1  0.22  0.2727  0.80        0.0       5          27   32
3           1  0.24  0.2879  0.75        0.0       3          10   13
4           1  0.24  0.2879  0.75        0.0       0           1    1

In [74]:
bike_rentals = bike_rentals.drop(['dteday'],axis=1)

In [75]:
bike_rentals.describe()

,instant,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
count,17379.0000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000
mean,8690.0000,2.501640,0.502561,6.537775,11.546752,0.028770,3.003683,0.682721,1.425283,0.496987,0.475775,0.627229,0.190098,35.676218,153.786869,189.463088
std,5017.0295,1.106918,0.500008,3.438776,6.914405,0.167165,2.005771,0.465431,0.639357,0.192556,0.171850,0.192930,0.122340,49.305030,151.357286,181.387599
min,1.0000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.020000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,4345.5000,2.000000,0.000000,4.000000,6.000000,0.000000,1.000000,0.000000,1.000000,0.340000,0.333300,0.480000,0.104500,4.000000,34.000000,40.000000
50%,8690.0000,3.000000,1.000000,7.000000,12.000000,0.000000,3.000000,1.000000,1.000000,0.500000,0.484800,0.630000,0.194000,17.000000,115.000000,142.000000
75%,13034.5000,3.000000,1.000000,10.000000,18.000000,0.000000,5.000000,1.000000,2.000000,0.660000,0.621200,0.780000,0.253700,48.000000,220.000000,281.000000
max,17379.0000,4.000000,1.000000,12.000000,23.000000,1.000000,6.000000,1.000000,4.000000,1.000000,1.000000,1.000000,0.850700,367.000000,886.000000,977.000000

In [76]:
bike_rentals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 16 columns):
instant       17379 non-null int64
season        17379 non-null int64
yr            17379 non-null int64
mnth          17379 non-null int64
hr            17379 non-null int64
holiday       17379 non-null int64
weekday       17379 non-null int64
workingday    17379 non-null int64
weathersit    17379 non-null int64
temp          17379 non-null float64
atemp         17379 non-null float64
hum           17379 non-null float64
windspeed     17379 non-null float64
casual        17379 non-null int64
registered    17379 non-null int64
cnt           17379 non-null int64
dtypes: float64(4), int64(12)
memory usage: 2.1 MB

In [77]:
def assign_time_label(hour):
    if hour >=0 and hour < 6:
        return 4
    elif hour >=6 and hour < 12:
        return 1
    elif hour >= 12 and hour < 18:
        return 2
    elif hour >= 18 and hour <=24:
        return 3

bike_rentals['time_label'] = bike_rentals['hr'].apply(assign_time_label)

In [78]:
bike_rentals['yr'].value_counts()

1    8734
0    8645
Name: yr, dtype: int64

In [79]:
#bike_rentals['season']  = bike_rentals['season'].astype('category')
#bike_rentals['time_label'] = bike_rentals['time_label'].astype('category')
bike_rentals['weathersit'] = bike_rentals['weathersit'].astype('category')
bike_rentals['holiday'] = bike_rentals['holiday'].astype('category')
bike_rentals['weekday'] = bike_rentals['weekday'].astype('category')
#bike_rentals['yr'] = bike_rentals['yr'].astype('category')
#bike_rentals['mnth'] = bike_rentals['mnth'].astype('category')
bike_rentals['workingday'] = bike_rentals['workingday'].astype('category')
#bike_rentals['season'].value_counts()
#pd.concat([bike_rentals,pd.get_dummies(bike_rentals['season'])],axis=1)
#print(bike_rentals[bike_rentals['season']==4].head())
#print(bike_rentals.columns)
bike_rentals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 17 columns):
instant       17379 non-null int64
season        17379 non-null int64
yr            17379 non-null int64
mnth          17379 non-null int64
hr            17379 non-null int64
holiday       17379 non-null category
weekday       17379 non-null category
workingday    17379 non-null category
weathersit    17379 non-null category
temp          17379 non-null float64
atemp         17379 non-null float64
hum           17379 non-null float64
windspeed     17379 non-null float64
casual        17379 non-null int64
registered    17379 non-null int64
cnt           17379 non-null int64
time_label    17379 non-null int64
dtypes: category(4), float64(4), int64(9)
memory usage: 1.8 MB

In [80]:
cat_cols = list(bike_rentals.select_dtypes(include=['category']).columns)
print(cat_cols)

['holiday', 'weekday', 'workingday', 'weathersit']

In [90]:
cat_df = bike_rentals[cat_cols]
cat_df = pd.concat([
    cat_df, 
    pd.get_dummies(cat_df.select_dtypes(include=['category']))
], axis=1)
print(cat_df.columns)

Index(['holiday', 'weekday', 'workingday', 'weathersit', 'holiday_0',
       'holiday_1', 'weekday_0', 'weekday_1', 'weekday_2', 'weekday_3',
       'weekday_4', 'weekday_5', 'weekday_6', 'workingday_0', 'workingday_1',
       'weathersit_1', 'weathersit_2', 'weathersit_3', 'weathersit_4'],
      dtype='object')

In [91]:
drop_cat_cols = ['holiday', 
                 'weekday', 'workingday', 'weathersit']
transformed_cat_df = cat_df.drop(drop_cat_cols,axis=1)

In [93]:
drp = ['holiday_0','weekday_0','workingday_0',
      'weathersit_1']
transformed_cat_df = transformed_cat_df.drop(drp,axis=1)

In [94]:
transformed_cat_df.columns

Index(['holiday_1', 'weekday_1', 'weekday_2', 'weekday_3', 'weekday_4',
       'weekday_5', 'weekday_6', 'workingday_1', 'weathersit_2',
       'weathersit_3', 'weathersit_4'],
      dtype='object')

In [95]:
numeric_cols = list(bike_rentals.select_dtypes(include=['float']).columns)
numeric_cols.remove('temp')
print(numeric_cols)
numeric_df = bike_rentals[numeric_cols]

['atemp', 'hum', 'windspeed']

In [96]:
corrs = np.absolute(bike_rentals.select_dtypes(include=['float64','int64']).corr()['cnt'])
print(corrs)

instant       0.278379
season        0.178056
yr            0.250495
mnth          0.120638
hr            0.394071
temp          0.404772
atemp         0.400929
hum           0.322911
windspeed     0.093234
casual        0.694564
registered    0.972151
cnt           1.000000
time_label    0.378318
Name: cnt, dtype: float64

In [97]:
#numeric_cols.remove('windspeed')
numeric_df = bike_rentals[numeric_cols]
numeric_df.head()

    atemp   hum  windspeed
0  0.2879  0.81        0.0
1  0.2727  0.80        0.0
2  0.2727  0.80        0.0
3  0.2879  0.75        0.0
4  0.2879  0.75        0.0

In [98]:
# normalise numeric dataframe
#bike_rentals.drop('dteday',axis=1,inplace=True)
normalized_df=(numeric_df-numeric_df.min())/(numeric_df.max()-numeric_df.min())
normalized_df.describe()

              atemp           hum     windspeed
count  17379.000000  17379.000000  17379.000000
mean       0.475775      0.627229      0.223460
std        0.171850      0.192930      0.143811
min        0.000000      0.000000      0.000000
25%        0.333300      0.480000      0.122840
50%        0.484800      0.630000      0.228047
75%        0.621200      0.780000      0.298225
max        1.000000      1.000000      1.000000

## Error metric

The mean squared error metric makes the most sense to evaluate our error. MSE works on continuous numeric data, which fits our data quite well

In [100]:
transformed_df = pd.concat([transformed_cat_df,numeric_df],axis=1)
transformed_df['cnt'] = bike_rentals['cnt']
transformed_df['time_label'] = bike_rentals['time_label']
transformed_df['yr'] = bike_rentals['yr']
print(transformed_df.head())

   holiday_1  weekday_1  weekday_2  weekday_3  weekday_4  weekday_5  \
0          0          0          0          0          0          0
1          0          0          0          0          0          0
2          0          0          0          0          0          0
3          0          0          0          0          0          0
4          0          0          0          0          0          0

   weekday_6  workingday_1  weathersit_2  weathersit_3  weathersit_4   atemp  \
0          1             0             0             0             0  0.2879
1          1             0             0             0             0  0.2727
2          1             0             0             0             0  0.2727
3          1             0             0             0             0  0.2879
4          1             0             0             0             0  0.2879

    hum  windspeed  cnt  time_label  yr
0  0.81        0.0   16           4   0
1  0.80        0.0   40           4   0
2  0.80        0.0   32           4   0
3  0.75        0.0   13           4   0
4  0.75        0.0    1           4   0

In [101]:
train = transformed_df.sample(frac=.8)
test = transformed_df.loc[~transformed_df.index.isin(train.index)]
predictor_columns = transformed_df.columns.drop('cnt')

In [115]:
from sklearn.linear_model import LinearRegression

regressor = LinearRegression()
regressor.fit(train[predictor_columns],train['cnt'])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [116]:
from sklearn.metrics import mean_squared_error

predictions = regressor.predict(test[predictor_columns])
mse = mean_squared_error(test['cnt'],predictions)
print(mse)

20557.738948883893

In [104]:
pred2 = regressor.predict(train[predictor_columns])
mse2 = mean_squared_error(train['cnt'],pred2)
print(mse2)

19479.502348752732

In [105]:
test['cnt'].head(10)

2     32
6      2
7      3
16    93
20    36
24    17
28     3
32    20
35    93
39    76
Name: cnt, dtype: int64

In [106]:
predictions[:5]

array([-44.54925823, 112.91924763,  94.23795886, 124.14760802,
        53.91329372])

Runnin Linear Regression on non transformed dataframe

In [114]:
train2 = bike_rentals.sample(frac=.8)
test2 = bike_rentals.loc[~transformed_df.index.isin(train.index)]
predictor_columns2 = bike_rentals.columns.drop(['cnt','instant','casual','registered'])

In [119]:
regressor2 = LinearRegression()
regressor2.fit(train2[predictor_columns2],train2['cnt'])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [122]:
pred_ = regressor2.predict(test2[predictor_columns2])
mse_ = mean_squared_error(test2['cnt'],pred_)
print(mse_)

18007.771094295884

In [124]:
pred_2 = regressor2.predict(train2[predictor_columns2])
mse_2 = mean_squared_error(train2['cnt'],pred_2)
print(mse_2)

17710.597828605754

## Error

The error is very high, which may be due to the fact that the data has a few extremely high rental counts, but otherwise mostly low counts. Larger errors are penalized more with MSE, which leads to a higher total error.

## Decision Tree

In [125]:
from sklearn.tree import DecisionTreeRegressor

reg = DecisionTreeRegressor(min_samples_leaf=2,max_depth=8)

reg.fit(train[predictor_columns], train["cnt"])

DecisionTreeRegressor(criterion='mse', max_depth=8, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=2,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [126]:
predictions = reg.predict(test[predictor_columns])

In [127]:
mse = mean_squared_error(test['cnt'],predictions)
print(mse)

14927.978606155772

In [129]:
des_pred2 = reg.predict(train[predictor_columns])
des_mse = mean_squared_error(train['cnt'],des_pred2)
print(des_mse)

13373.65392326507

Running Decision Tree on non trnsformed data

In [195]:
reg_ = DecisionTreeRegressor(min_samples_leaf=2,max_depth=10)

reg_.fit(train2[predictor_columns2], train2["cnt"])

DecisionTreeRegressor(criterion='mse', max_depth=10, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=2,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [196]:
predictions_ = reg_.predict(test2[predictor_columns2])
mse_2 = mean_squared_error(test2['cnt'],predictions_)
print(mse_2)

2797.525144326306

In [197]:
predictions_2 = reg_.predict(train2[predictor_columns2])
mse__ = mean_squared_error(train2['cnt'],predictions_2)
print(mse__)

2610.235299948211

## Random Forest

In [199]:
from sklearn.ensemble import RandomForestRegressor

regr = RandomForestRegressor(min_samples_leaf=2,n_estimators=10,max_depth=10)
regr.fit(train[predictor_columns], train["cnt"])

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=10,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=2, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [200]:
rforest_pred1 = regr.predict(test[predictor_columns])
rforest_mse = mean_squared_error(test['cnt'],rforest_pred1)
print(rforest_mse)

13431.843286640693

In [203]:
rforest_pred2 = regr.predict(train[predictor_columns])
rforest_mse2 = mean_squared_error(train['cnt'],rforest_pred2)
print(rforest_mse2)

10753.77983716769

Running Random Forest on non transformed df

In [204]:
regr_ = RandomForestRegressor(min_samples_leaf=2,n_estimators=10,max_depth=10)
regr_.fit(train2[predictor_columns2], train2["cnt"])

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=10,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=2, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [205]:
rforest_pred_1 = regr_.predict(test2[predictor_columns2])
rforest_mse_ = mean_squared_error(test2['cnt'],rforest_pred_1)
print(rforest_mse_)

2263.531828979311

In [206]:
rforest_pred_2 = regr_.predict(train2[predictor_columns2])
rforest_mse_2 = mean_squared_error(train2['cnt'],rforest_pred_2)
print(rforest_mse_2)

2076.3201217588057